﻿@using SMS_Broadcaster_Website.Models
@{ 
    List<BroadcastMessagerDashboard> messages_pending = ViewData["list_pending"] as List<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboard>;
    List<BroadcastMessagerDashboard> messages_accepted = ViewData["list_accepted"] as List<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboard>;
    List<BroadcastMessagerDashboard> messages_rejected = ViewData["list_rejected"] as List<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboard>;
    Boolean authenticated = Convert.ToBoolean(ViewData["authenticated"]);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SMPP Tester</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    @Html.ActionLink("SMPP Tester", "Dashboard", "Broadcast_Messages", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistics<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Summary", "Dashboard", "Broadcast_Messages")</li>
                            <li>@Html.ActionLink("All Messages", "Full_Statistics", "Broadcast_Messages")</li>
                            @if(true)
                            {
                              <li>@Html.ActionLink("Accepted Messages", "Accepted_Statistics", "Broadcast_Messages")</li>
                            }
                            
                            @if(true)
                            {
                              <li>@Html.ActionLink("Pending Messages", "Pending_Statistics", "Broadcast_Messages")</li>
                            }
                            
                            @if (true)
                            {
                                <li>@Html.ActionLink("Rejected Messages", "Rejected_Statistics", "Broadcast_Messages")</li>
                            }
                            
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Messages", "Index", "Broadcast_Messages")</li>
                    <li>@Html.ActionLink("Settings", "Index", "SMPP_Settings")</li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br/>
           @Html.Partial("_Notifications")
           @RenderBody()
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Forest Interactive - SMPP Tester</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
