﻿@model SMS_Broadcaster_Website.Models.Broadcast_Messages

@{
    ViewBag.Title = "Create";
}

<div class="page-header">
    <h1>Create <small>SMS Messages</small></h1>
</div>

@using (Html.BeginForm("Create", "Broadcast_Messages", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Date_Time_Created", DateTime.Now)
    @Html.Hidden("Date_Time_Edited", DateTime.Now)
    @Html.Hidden("Message_ID","")
    @Html.Hidden("Sent","false")
    @Html.Hidden("Submitted", "false")
    @Html.Hidden("Destination_Addr","")
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Source_Addr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Source_Addr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Source_Addr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Destination_Addr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               <input type="file" name="contact_file" />
            </div>
        </div>

        <div class="form-group">
            @{
                List<SelectListItem> list_DataCoding = new List<SelectListItem>();
                list_DataCoding.Add(new SelectListItem
                {
                    Text = "Default",
                    Value = "Default"
                });
                list_DataCoding.Add(new SelectListItem
                {
                    Text = "Latin1",
                    Value = "Latin1"
                });
                list_DataCoding.Add(new SelectListItem
                {
                    Text = "Octet Unspecified",
                    Value = "OctetUnspecified"
                });
                list_DataCoding.Add(new SelectListItem
                {
                    Text = "Unicode 2",
                    Value = "UCS2"
                });
                list_DataCoding.Add(new SelectListItem
                {
                    Text = "Unicode Flash SMS",
                    Value = "UnicodeFlashSMS"
                });
                list_DataCoding.Add(new SelectListItem
                {
                    Text = "Default Flash SMS",
                    Value = "DefaultFlashSMS"
                });
            }
            @Html.LabelFor(model => model.Data_Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Data_Type, list_DataCoding )
                @Html.ValidationMessageFor(model => model.Data_Type, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" }, cols = "80", rows = "5" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{ 
                List<SelectListItem> list_SubmitMode = new List<SelectListItem>();
                list_SubmitMode.Add(new SelectListItem
                {
                    Text = "Short Message",
                    Value = "ShortMessage"
                });
                list_SubmitMode.Add(new SelectListItem
                {
                    Text = "Payload",
                    Value = "Payload" 
                });
            }
            @Html.LabelFor(model => model.Submit_Mode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Submit_Mode, list_SubmitMode)
                @Html.ValidationMessageFor(model => model.Submit_Mode, "", new { @class = "text-danger" })
            </div>
            
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_Time_Send, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{ Html.EnableClientValidation(false); }
                @Html.TextBoxFor(model => model.Date_Time_Send, new { @class = "form-control datetimepicker no-client-validation", placeholder = "date and time" })
                @Html.ValidationMessageFor(model => model.Date_Time_Send, "", new { @class = "text-danger" })
                @{ Html.EnableClientValidation(true); }
                <script type="text/javascript">
                $(function () {
                    $('.datetimepicker').datetimepicker({
                        format:"DD-MM-YYYY HH:mm"
                    });
                });
                </script>
            </div>
        </div>

        @*<div class="form-group">
        @Html.LabelFor(model => model.Date_Time_Created, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date_Time_Created, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date_Time_Created, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date_Time_Edited, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date_Time_Edited, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date_Time_Edited, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sent, "", new { @class = "text-danger" })
            </div>
        </div>
        *@
        @{ 
            List<SelectListItem> list_settings = ViewData["List_Settings_ID"] as List<SelectListItem>;
        }
        
    <div class="form-group">
        @Html.LabelFor(model => model.Settings_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Settings_ID, list_settings)
            @Html.ValidationMessageFor(model => model.Settings_ID, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fixes")
}
