﻿@model PagedList.IPagedList<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboard>
@using PagedList.Mvc;
@using SMS_Broadcaster_Website.Models
@{
    ViewBag.Title = "Dashboard";
    List<BroadcastMessagerDashboard> messages_pending = ViewData["list_pending"] as List<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboard>;
    List<BroadcastMessagerDashboard> messages_accepted = ViewData["list_accepted"] as List<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboard>;
    List<BroadcastMessagerDashboard> messages_rejected = ViewData["list_rejected"] as List<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboard>;

}
<div class="page-header">
    <h1>Recent Summary</h1>
</div>
<hr />
    <h3>Full statistics</h3>
    <table class="table table-striped table-bordered">
    <tr>
        <th>
            Destination Address
        </th>
        <th>
            Count
        </th>
    </tr>
    
     @foreach (var message in Model)
     {
        <tr>
            <td>
                @message.Destination_Addr
            </td>
            <td>
                @message.Count
            </td>
        </tr>
     }
    </table>
<hr/>
    @if( messages_pending.Count != 0 )
    { 
    <h3>Pending</h3>
    <table class="table table-striped table-bordered">
    <tr>
      <th>
        Destination Address
      </th>
      <th>
        Count
      </th>
    </tr>
    @foreach (var message in (ViewData["list_pending"] as List<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboard>))
    {
        <tr>
            <td>
                @message.Destination_Addr
            </td>
            <td>
                @message.Count
            </td>
        </tr>
    }
    </table>

    <table class="table table-striped table-bordered">
    <tr>
        <th>
            Settings ID
        </th>
        <th>
            Count
        </th>
    </tr>
    @foreach (var message in (ViewData["setting_group_pending"] as List<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboardSettings>))
    {
        <tr>
            <td>
                @message.Settings_ID
            </td>
            <td>
                @message.Count
            </td>
        </tr>
    }
</table>
    }

    <br />
    <br />

    @if (messages_accepted.Count != 0)
    {
    <h3>Accepted</h3>
    <table class="table table-striped table-bordered">
     <tr>
        <th>
            Destination Address
        </th>
        <th>
            Count
        </th>
     </tr>
    @foreach (var message in (ViewData["list_accepted"] as List<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboard>))
    {
        <tr>
            <td>
                @message.Destination_Addr
            </td>
            <td>
                @message.Count
            </td>
        </tr>
    }
    </table>

    <br />

    <table class="table table-striped table-bordered">
    <tr>
        <th>
            Settings ID
        </th>
        <th>
            Count
        </th>
    </tr>
    @foreach (var message in (ViewData["setting_group_accepted"] as List<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboardSettings>))
    {
        <tr>
            <td>
                @message.Settings_ID
            </td>
            <td>
                @message.Count
            </td>
        </tr>
    }
</table>
    }


@if (messages_rejected.Count != 0)
{
    <h3>Rejected</h3>
    <table class="table table-striped table-bordered">
    <tr>
        <th>
            Destination Address
        </th>
        <th>
            Count
        </th>
    </tr>
        @foreach (var message in (ViewData["list_rejected"] as List<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboard>))
        {
                <tr>
                    <td>
                        @message.Destination_Addr
                    </td>
                    <td>
                        @message.Count
                    </td>
            </tr>
        }
                
    </table>

    <br />
    <br />

    <table class="table table-striped table-bordered">
    <tr>
        <th>
            Settings ID
        </th>
        <th>
            Count
        </th>
    </tr>
    
    @foreach (var message in (ViewData["setting_group_rejected"] as List<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboardSettings>))
    {
       <tr>
            <td>
                @message.Settings_ID
            </td>
            <td>
                @message.Count
            </td>
        </tr>

    }
</table>
}