﻿@model SMS_Broadcaster_Website.Models.Broadcast_Messages

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Broadcast_Messages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Source_Addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source_Addr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination_Addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_Addr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submit_Mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submit_Mode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Time_Send)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Time_Send)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Time_Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Time_Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Time_Edited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Time_Edited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Settings_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Settings_ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
