﻿@model SMS_Broadcaster_Website.Models.Broadcast_Messages

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Messages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Source_Addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source_Addr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination_Addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_Addr)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Data_Type)
        </dt>

        @*
        <dd>
            @Html.DisplayFor(model => model.Data_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source_Addr_TON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source_Addr_TON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source_Addr_NPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source_Addr_NPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination_Addr_TON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_Addr_TON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination_Addr_NPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_Addr_NPI)
        </dd>
        *@
        <dt>
            @Html.DisplayNameFor(model => model.Message_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submit_Mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submit_Mode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Send)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Send)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time_Send)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_Send)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Time_Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Time_Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Time_Edited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Time_Edited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Settings_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Settings_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
