﻿@model SMS_Broadcaster_Website.Models.Broadcast_Messages

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Date_Time_Edited", DateTime.Now)
    @Html.Hidden("Message_ID", "")

    <div class="form-horizontal">
        <h4>Broadcast_Messages</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Date_Time_Created)

        <div class="form-group">
            @Html.LabelFor(model => model.Source_Addr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Source_Addr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Source_Addr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Destination_Addr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Destination_Addr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Destination_Addr, "", new { @class = "text-danger" })
            </div>
        </div>

        @{
            List<SelectListItem> list_DataCoding = new List<SelectListItem>();
            list_DataCoding.Add(new SelectListItem
            {
                Text = "Default",
                Value = "Default"
            });
            list_DataCoding.Add(new SelectListItem
            {
                Text = "Latin1",
                Value = "Latin1"
            });
            list_DataCoding.Add(new SelectListItem
            {
                Text = "Octet Unspecified",
                Value = "OctetUnspecified"
            });
            list_DataCoding.Add(new SelectListItem
            {
                Text = "Unicode 2",
                Value = "UCS2"
            });
            list_DataCoding.Add(new SelectListItem
            {
                Text = "Unicode Flash SMS",
                Value = "UnicodeFlashSMS"
            });
            list_DataCoding.Add(new SelectListItem
            {
                Text = "Default Flash SMS",
                Value = "DefaultFlashSMS"
            });
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Data_Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Data_Type, list_DataCoding )
                @Html.ValidationMessageFor(model => model.Data_Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message_ID, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "form-control"}, cols = "80", rows = "5" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Submit_Mode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Submit_Mode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Submit_Mode, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Date_Time_Send, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{ Html.EnableClientValidation(false); }
                @Html.TextBoxFor(model => model.Date_Time_Send, new { @class = "form-control datepicker", placeholder = "date and time"})
                @Html.ValidationMessageFor(model => model.Date_Time_Send, "", new { @class = "text-danger" })
                @{ Html.EnableClientValidation(true); }
                <script type="text/javascript">
                $(function () {
                    $('.datepicker').datetimepicker({
                        format:"DD-MMM-YY LT"
                    });
                });
                </script>
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Submitted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Submitted, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Submitted, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Submitted, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Settings_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Settings_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Settings_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
