﻿@model PagedList.IPagedList<SMS_Broadcaster_Website.Models.Broadcast_Messages>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="page-header pull-left">
        <h1>Index <small>SMS Messages</small></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Search</div>
            <div class="panel-body">

                @using (Html.BeginForm())
            {
                    <p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        Destination / MessageID
                                    </span>
                                    @Html.TextBox("SearchString", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        
                        <div class="row top-buffer bottom-buffer">
                            <div class="col-md-4">
                                <div class="input-group  start-date">
                                    <span class="input-group-addon">Start Date</span>
                                    @Html.TextBox("startDate", "", new { @class = "form-control datetimepicker_start" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group start-date">
                                    <span class="input-group-addon ">End Date</span>
                                    @Html.TextBox("endDate", "", new { @class = "form-control datetimepicker_end" })
                                </div>

                            </div>
                        </div>
                        <div class="pull-left">
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </div>
                    </p>
                }
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Source Address
                        </th>
                        <th>
                            @Html.ActionLink("Destination", "Index", new { sortOder = ViewBag.DestinationSortParam })
                        </th>
                        <th>
                            Text
                        </th>
                        <th>
                            Submit Type
                        </th>
                        <th>
                            Data Encoding
                        </th>
                        <th>
                            @Html.ActionLink("Date & Time To Send", "Index", new { sortOrder = ViewBag.DateSortParam })
                        </th>
                        <th>
                            Submitted
                        </th>
                        <th>
                            Sent
                        </th>
                        <th>
                            Message ID
                        </th>

                        <th>
                            Date Time Created
                        </th>
                        <th>
                            Date Time Edited
                        </th>
                        <th>
                            Settings ID
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Source_Addr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Destination_Addr)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Text)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Submit_Mode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data_Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date_Time_Send)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Submitted)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sent)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Message_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date_Time_Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date_Time_Edited)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Settings_ID)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <br />
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) <br />
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })<br />
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
        <p>
            @Html.ActionLink("Create New", "Create", "Broadcast_Messages", "", new { @class = "btn btn-primary pull-right" })
        </p>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.datetimepicker_start').datetimepicker({
                format:"DD-MM-YYYY HH:mm"
        });

        $('.datetimepicker_end').datetimepicker({
            format:"DD-MM-YYYY HH:mm",
        });

        $(".datetimepicker_start").on("dp.change", function (e) {
            $('.datetimepicker_end').data("DateTimePicker").minDate(e.date);
        });

        $(".datetimepicker_end").on("dp.change", function (e) {
            $('.datetimepicker_start').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>

<br />