﻿@model PagedList.IPagedList<SMS_Broadcaster_Website.Models.BroadcastMessagerDashboard>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Reject Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>Rejected Statistics <small>SMS Messages</small></h1>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Search</div>
        <div class="panel-body">

            @using (Html.BeginForm())
            {
                <p>
                    <div class="row top-buffer bottom-buffer">
                        <div class="col-md-4">
                            <div class="input-group  start-date">
                                <span class="input-group-addon">Start Date</span>
                                @Html.TextBox("startDate", "", new { @class = "form-control datetimepicker_start" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group start-date">
                                <span class="input-group-addon ">End Date</span>
                                @Html.TextBox("endDate", "", new { @class = "form-control datetimepicker_end" })
                            </div>

                        </div>
                    </div>
                    <div class="pull-left">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </p>
            }
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Destination Address
            </th>
            <th>
                Count
            </th>
        </tr>

        @foreach (var message in Model)
        {
            <tr>
                <td>
                    @message.Destination_Addr
                </td>
                <td>
                    @message.Count
                </td>
            </tr>
        }
    </table>
    </div>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Reject_Statistics", new { page }))
<script type="text/javascript">
    $(function () {
        $('.datetimepicker_start').datetimepicker({
                format:"DD-MM-YYYY HH:mm"
        });

        $('.datetimepicker_end').datetimepicker({
            format:"DD-MM-YYYY HH:mm",
        });

        $(".datetimepicker_start").on("dp.change", function (e) {
            $('.datetimepicker_end').data("DateTimePicker").minDate(e.date);
        });

        $(".datetimepicker_end").on("dp.change", function (e) {
            $('.datetimepicker_start').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>




