﻿@model SMS_Broadcaster_Website.Models.SMPP_Settings

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SMPP_Settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.System_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.System_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.System_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.System_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hostname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hostname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Port)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Port)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source_Address_TON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source_Address_TON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source_Address_NPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source_Address_NPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination_Address_TON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_Address_TON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination_Address_NPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_Address_NPI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Settings_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
