﻿@model IEnumerable<SMS_Broadcaster_Website.Models.SMPP_Settings>

@{
    ViewBag.Title = "Index";
}
<div class="page-header pull-left">
    <h1>Index <small>SMPP Settings</small></h1>
</div>

<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Settings_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.System_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.System_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hostname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Port)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source_Address_TON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source_Address_NPI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination_Address_TON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination_Address_NPI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Settings_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.System_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.System_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hostname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Port)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source_Address_TON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source_Address_NPI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination_Address_TON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination_Address_NPI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Settings_ID }) 
            @Html.ActionLink("Details", "Details", new { id=item.Settings_ID }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Settings_ID })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create", "SMPP_Settings", "", new { @class = "btn btn-primary pull-right" })
</p>